
// Make viewport responsive
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/

.page {
  &__inner {

  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__main-content {
    display: flex;
    flex: 1 0 auto;
    position: relative;

    @media(min-width: $screen-lg){

    }

    &__nav {
      display: none;
      background-color: #19171c;

      @media(min-width: $screen-md){
        display: block;
        flex-basis: 200px; 
      }
      @media(min-width: $screen-lg){
        flex-basis: 236px;
      }
    }

    &__main {
      width: 100%;
      flex: 1;
      padding: 20px 20px;

      @media(min-width: $screen-md){
        padding-top: 46px;
        padding-bottom: 46px;
      }
    }

    &__sidebar {
      display: none;
      background-color: grey;

      @media(min-width: 1350px){
        display: block;
        flex-basis: 257px;
      }
    }
  }

  &__footer {
    &-wrapper {
      padding-bottom: 50px;

      @media(min-width: 1350px){
        padding-bottom: 80px;
      }
    }
  }
}