
// Make viewport responsive
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/

.page {
  &__inner {

  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__main-content {
    display: flex;
    flex: 1 0 auto;
    position: relative;

    @media(min-width: $screen-lg){

    }

    &__nav {
      flex-basis: 236px;
      background-color: #19171c;
    }

    &__main {
      width: 100%;
      flex: 1;
      padding: 46px 20px;
    }

    &__sidebar {
      flex-basis: 257px;
      background-color: grey;
    }
  }

  &__footer {
    &-wrapper {
      padding-bottom: 80px;
    }
  }
}