// В этом файле должны быть стили для БЭМ-блока input, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.input {

  $block-name:                &; // #{$block-name}__element {}

  background: white;
  border: none; 
  border-radius: 10px;
  padding: 4px 10px 5px 22px;
  width: auto;
  outline: none !important;

  @media(min-width: $screen-lg){
    
  }

  &__search {
    
  }
}
