// В этом файле должны быть стили только для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.page-header {
  $block-name: &;
  position: relative;
  background-color: #111111;

  @media(min-width: $screen-lg){
    // border-bottom: 1px solid #e5e5e5;
  }

  &__container {
    @extend .container;
  }

  &__inner {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

    @media(min-width: $screen-lg){
      height: 87px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: space-between;
    }
  }

  &__burger {
    display: block;

    @media(min-width: $screen-lg) {
      display: none;
    }
  }

  &__burger {
    vertical-align: baseline !important;
    margin-right: 0px;

    @media(min-width: $screen-lg){
      display: none;
    }
  }

  &__mobile-menu {
    display: flex;
    height: 100%;
    position: static;
    padding: 0;
    //justify-content: end;
    justify-content: space-between;
    background-color: transparent !important;

    @media(min-width: $screen-lg){
      display: none;
    }
  }

  &__logo {
    text-align: center;
    margin-right: 37px;

    @media(min-width: 1350px){
      margin-right: 11.7%;
    }
  }

  &__content {
    display: none;
    // align-self: baseline;

    @media(min-width: $screen-lg){
      margin-left: auto;
      display: flex;
      align-items: center;
    }

    .dropdown-simple {
      margin-right: 11px;
      margin-left: 11px;

      &:last-child {
        margin-right: -6px;
      }

      &--cart {
        // margin-left: 5px;
      }
    }
  }

  &__info {
    font-size: 16px;
    letter-spacing: -0.3px;
    margin-right: 0;

    @media(min-width: 1350px){
      margin-right: 60px;
    }

    &__text {
      color: #3f3f3f;
      margin: 0;
      line-height: normal;

      & + * {
        margin-top: -7px;
      }

      &--light {
        color: white;
      }
    }

    a {
      color: white;
      text-decoration: none;

      &:hover, &:focus {
        color: white;
        text-decoration: none;
      }
    }
  }

  &__search {
    width: 100%;
    display: none;

    @media(min-width: $screen-sm){
      
    }
    @media(min-width: $screen-md){
      
    }
    @media(min-width: $screen-lg){
      display: inline-block;
      max-width: 300px;
    }
    @media(min-width: 1150px) {
      max-width: 376px;
    }
    
  }

  .dropdown-simple {
    &--notification {
      display: none;
      
      @media(min-width: 1350px){
        display: inline-block;
      }
    }
  }
}
