// В этом файле должны быть стили только для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.page-header {
  $block-name: &;
  position: relative;
  background-color: #111111;

  @media(min-width: $screen-lg){
    border-bottom: 1px solid #e5e5e5;
  }

  &__container {
    @extend .container;
  }

  &__inner {
    height: 88px;
    padding: 0px 25px;

    @media(min-width: $screen-lg){
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: space-between;
      align-items: center;
    }
  }

  &__burger {
    vertical-align: baseline !important;
    margin-right: 0px;

    @media(min-width: $screen-lg){
      display: none;
    }
  }

  &__mobile-menu {
    display: flex;
    height: 100%;
    position: static;
    padding: 0;
    //justify-content: end;
    justify-content: space-between;
    background-color: transparent !important;

    @media(min-width: $screen-lg){
      display: none;
    }
  }

  &__logo {
    text-align: center;
    margin-right: 11.7%;

    @media(max-width: $screen-lg){

    }
    @media(min-width: $screen-lg){
      // flex: 1;
      //text-align: center;
    }
  }

  &__content {
    margin-left: auto;
    display: flex;
    align-items: center;
    // align-self: baseline;

    @media(max-width: $screen-lg){
      
    }

    .dropdown-simple {
      margin-right: 2px;
      margin-left: 2px;

      &:last-child {
        margin-right: 0;
      }

      &--cart {
        // margin-left: 5px;
      }
    }
  }

  &__info {
    font-size: 16px;
    letter-spacing: -0.3px;
    margin-right: 60px;

    &__text {
      color: #3f3f3f;
      margin: 0;
      line-height: normal;

      & + * {
        margin-top: -7px;
      }

      &--light {
        color: white;
      }
    }

    a {
      color: white;
      text-decoration: none;

      &:hover, &:focus {
        color: white;
        text-decoration: none;
      }
    }
  }

  &__search {
    width: 100%; 

    @media(min-width: $screen-md){
      
    }
    @media(min-width: $screen-lg){
      max-width: 376px;
    }

    
  }
}
