// В этом файле должны быть стили для БЭМ-блока search-quick, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.search-quick {

  $block-name:                &; // #{$block-name}__element {}
  position: relative;

  &__input {
    background-color: #0f0e11;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    width: 100%;
    padding: 1px 10px 0px 30px;
    height: 30px;
    outline: none;
    font-size: 13px;
    color: white;
  }

  &__btn {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 17px;
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 0;

    img {
      vertical-align: top;
      width: 100%;
    }
  }
}
