// В этом файле должны быть стили для БЭМ-блока search-header, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.search-header {

  $block-name:                &; // #{$block-name}__element {}
  height: 41px;
  position: relative;

  &__input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    padding: 1px 18px 5px 50px;
    font-size: 19px;
    font-weight: 300;
    text-align: center;
    line-height: normal;
    letter-spacing: 0.3px;
    outline: none;
  }

  &__btn {
    position: absolute;
    top: 10px;
    left: 18px;
    opacity: 1;
    border: none;
    height: 24px;
    width: 24px;
    background: url(../img/search.svg);
    padding: 0;
    background-position: center;
  }
}
