// В этом файле должны быть стили только для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.logo {
  //background-image: url(../img/logo.png);
  background-image: url(../img/logo@2x.png);
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 140px;
  height: 33px;

  @media(min-width: $screen-md){
    width: 160px;
  }
  @media(min-width: $screen-lg){
    width: 174px;
    height: 36px;
  }

  @media(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    //background-image: url(../img/logo-2x.png);
  }
}

