// В этом файле должны быть стили только для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.page-footer {
  $block-name: &;
  background-color: #f1f1f1;
  padding-top: 17px;
  padding-bottom: 30px;
  //text-align: center;

  @media(min-width: $screen-lg) {
    //text-align: left;
    padding-top: 51px;
    padding-bottom: 51px;
  }

  &-wrapper {
    flex: 0 0 auto;
  }

  &__inner {
    position: relative;
    display: block;

    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__content {
    max-width: 415px;
    width: 100%;
    padding-top: 5px;
    padding-right: 10px;

    @media(max-width: $screen-lg){
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      max-width: 100%;
      padding-top: 0;
      padding-right: 0;
      margin-bottom: 10px;
    }
  }
}
