// В этом файле должны быть стили только для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.page-footer {
  $block-name: &;
  background-color: #000000;
  padding-top: 20px;
  // padding-bottom: 0px;

  @media(min-width: $screen-lg) {
    padding-top: 32px;
  }

  &-wrapper {
    flex: 0 0 auto;
  }

  &__inner {
    position: relative;
    display: block;

    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__content {
    width: 100%;
    text-align: center;

    @media(max-width: $screen-lg){
      
    }
  }

  &__nav {
    display: inline-block;
    vertical-align: bottom;
    font-size: 18px;
    width: 100%;
    // margin-right: 10px;

    @media(min-width: $screen-md){
      width: auto;
    }

    ul {
      display: block;
      padding: 0;
      list-style: none;
      margin-bottom: 20px;
      font-family: $myriadPro-regular;

      @media(min-width: $screen-md){
        display: flex;
        align-items: center;
        margin: 0;
      }

      li {
        display: block;
        margin-bottom: 20px;

        @media(min-width: $screen-md){
          display: inline-block;
          padding: 0px 9px;
          margin-bottom: 0;
          border-right: 1px solid rgba(255, 255, 255, 0.5);
        }

        &:last-child {
          margin-bottom: 0;

          @media(min-width: $screen-md){
            
          }
        }
      }

      a {
        display: inline-block;
        vertical-align: top;
        color: white;
        

        @media(min-width: $screen-md){ 
          padding-bottom: 20px;
        }

        &:hover, &:focus {
          text-decoration: none;
          color: white;
        }
      }
    }
  }

  &__search {
    display: inline-block;
    vertical-align: bottom;

    a {
      display: inline-block;
      vertical-align: bottom;
      padding: 10px 15px 17px 15px;
    }
  }

  &__cart {
    display: inline-block;
    vertical-align: bottom;
    font-size: 18px;

    &__btn {
      display: inline-block;
      vertical-align: bottom;
      padding: 8px 15px 18px 15px;
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-bottom: none;
      border-radius: 5px 5px 0px 0px;
      color: white;
      font-size: 18px;

      &:hover, &:focus {
        text-decoration: none;
        color: white;
      }

      img {
        margin-right: 10px;
      }
    }
  }
}
