// В этом файле должны быть стили для БЭМ-блока post, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.post {

  $block-name:                &; // #{$block-name}__element {}
  width: 100%;
  max-width: 499px;
  // border: 1px solid rgba(74, 74, 74, 0.23);
  width: 100%;
  margin: 0 auto;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  &__header {
    // flex-wrap: wrap;
    padding: 13px 20px 10px 20px;
    border-bottom: 0px;
    border: 1px solid rgba(74, 74, 74, 0.23);
    margin-bottom: 7px;

    @media(min-width: $screen-md){
      padding-left: 25px;
      padding-right: 25px;
    }

    &__main {
      display: flex;
      align-items: center;
    }

    &__img {
      width: 51px;
      height: 51px;
      border-radius: 50%;
      overflow: hidden;
      background-color: #4a4a4a;
      margin-right: 12px;
      // margin-bottom: 6px;
    }

    &__description {
      
    }

    &__name {
      display: block;
      font-size: 15px;
      margin-bottom: -1px;

      a {
        display: inline-block;
        vertical-align: top;
        color: #000000;

        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }

    &__date {
      display: block;
      font-size: 14px;
      font-weight: 300;

      a {
        display: inline-block;
        vertical-align: top;
        color: #010101;
        font-weight: 300;

        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }

    &__text {
      // border: 1px solid rgba(74, 74, 74, 0.23);
      font-size: 15px;
      text-align: left;
      margin-top: 17px;
      line-height: 17px;
      margin-bottom: 0px;
      font-weight: 300;
  
      p {
        font-size: 15px;
        margin: 0;
      }
  
      a {
        color: #1c45f6;

        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }
  }

  &__img {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    // height: 499px;

    &:before {
      content: "";
      padding-top: 100%;
      display: block;
    }

    &__block {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    img {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 100%;
      height: auto;
    }
  }

  &__video {
    position: relative;
    margin-bottom: 9px;

    &:before {
      content: "";
      display: block;
      padding-top: 56.25%;
    }

    &__block {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__artist {
    
  }

  &__description {
    // padding: 21px 25px 19px 25px;
    font-weight: 300;
  }

  &__info {
    border: 1px solid rgba(74, 74, 74, 0.23);
    border-top: none;
    text-align: left;
    margin-top: -8px;
    padding: 16px 20px 21px 20px;
    margin-bottom: 12px;

    &__title {
      font-size: 18px;
      font-weight: 500;
    }

    p {
      font-size: 15px;
      margin-top: 3px;
      margin-bottom: 0px;
    }
  }

  &__song {
    display: flex;
    align-items: stretch;
    min-height: 45px;
    margin-bottom: 4px;

    @media(min-width: $screen-md){
    }

    &__wrapper {
      & + * {
        margin-top: 7px;
      }

      #{$block-name} {
        &__song {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &__play {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(74, 74, 74, 0.23);
      white-space: nowrap;
      min-width: 76px;

      .btn {
        vertical-align: top;
        background: transparent;
        border: none;
        padding: 0px 5px 0px 4px;
        height: 43px;

        &:last-child {
          margin-right: 0;
        }

        img {
          vertical-align: top;
        }
      }
    }

    &__title {
      display: flex;
      align-items: center;
      border: 1px solid rgba(74, 74, 74, 0.23);
      margin: 0 auto;
      margin-left: 5px;
      margin-right: 5px;
      width: 100%;
      white-space: nowrap;
      padding: 2px 6px;
      position: relative;
      overflow: hidden;
    }

    &__side {
      min-width: 45px;
      border: 1px solid rgba(74, 74, 74, 0.23);
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;

      @media(min-width: $screen-md){
        min-width: 57px;
      }

      .btn {
        padding: 0px 5px;
      }
    }
  }

  &__text {
    border: 1px solid rgba(74, 74, 74, 0.23);
    font-size: 15px;
    text-align: center;
    padding: 12px 20px 12px 20px; 
    margin-bottom: 7px;

    @media(min-width: $screen-md){
      padding-left: 20px;
      padding-right: 25px;
    }

    p {
      font-size: 15px;
      line-height: 17px;
      margin: 0;

      & + p {
        margin-top: 20px;
      }
    }

    a {
      color: #0f14dc;
    }

    &__title {
      font-size: 19px;
      font-weight: normal;
      line-height: normal;
    }

    &__name {
      margin-top: -1px;
      margin-bottom: 17px;
    }
  }

  &__review {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 10px 0px 10px;
    height: 91px;
    border: 1px solid rgba(74, 74, 74, 0.23);
    text-align: center;
    padding: 0px 10px;

    &__block {
      flex: 1;
      padding: 0px 10px;
    }
  }

  &__social {
    @extend .btn;
    min-height: 64px;
    padding: 0;
    border: none;
    box-shadow: none;

    &__img {
      margin-bottom: 7px;

      img {

      }
    }

    &__text {
      color: #707070;
    }

    &--line {
      float: left;
      display: flex;
      align-items: center;

      #{$block-name}__social {
        &__img {
          transform: scaleX(-1);
          margin-right: 20px;
        }
      }
    }
  }

  &__album {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 6px;

    &__block {
      flex:1 1 calc(50% - 30px);
      margin: 0px 5px 5px 5px;
      position: relative;
      overflow: hidden;

      @media(min-width: $screen-md){
        // flex:1 1 calc(50% - 30px);
      }
      @media(min-width: $screen-lg){
        flex:1 1 calc(33.33% - 30px);
      }
    }

    &__img {
      &:before {
        content: "";
        padding-top: 100%;
        display: block;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }

    &__description {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-left: 17px;
      font-size: 15px;
      font-weight: 500;
      color: white;
      background-color: #ed1c24;
    }

    &__price {
      padding-top: 4px;
    }

    &__cart {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 46px;
      min-height: 31px;
      background-color: white;

      img {
        width: 24px;
      }
    }
  }

  &__item {
    margin-top: 25px;
    margin-bottom: 25px;

    @media(min-width: $screen-md) {

    }

    &__block {
      margin-bottom: 20px;

      @media(min-width: $screen-md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__img {
      margin-bottom: 20px;

      @media(min-width: $screen-md) {
        margin-bottom: 0;
      }

      img {
        height: 100px;
        margin: 0 auto;

        @media(min-width: $screen-md) {
          height: auto;
          width: 96px;
          margin: 0;
        }
      }
    }

    &__title {
      text-align: center;
      margin-bottom: 10px;

      @media(min-width: $screen-md) {
        padding: 0px 30px;
        margin-bottom: 0;
      }

      a {
        color: #8c8c8c;
        font-size: 18px;
        //line-height: 13px;
        display: inline-block;

        @media(min-width: $screen-md) {
          font-size: 15px;
        }

        &:hover, &:focus {
          color: #8c8c8c;
          text-decoration: none;
        }
      }
    }

    &__card {
      text-align: center;

      &__text {
        font-size: 12px;
        color: #19171c;
        white-space: nowrap;

        a {
          color: #19171c;
          text-decoration: underline;

          &:hover, &:focus {
            color: #19171c;
          }
        }
      }
    }

    &__btn {
      @extend .btn;
      border: none;
      outline: none !important;
      box-shadow: none;
      background: transparent;
      padding: 0;

      &__img, img {
        width: 30px;
      }
    }
  }

  &__network {
    max-width: 150px;
    margin: 0 auto;
    margin-right: 0px;
    margin-top: 10px;

    &__list {
      padding: 0;
      list-style: none;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
      }
    }

    &__img {
      height: 30px;
    }

    p {
      margin: 0;
      color: #707070;
      font-size: 15px;
      font-weight: 400;
      margin-top: 5px;
      line-height: normal;
    }
  }
}
